@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://coolors.co/32373b-4a5859-f4d6cc-f4b860-c83e4d */

:root {
  --bg-primary: #f4b860;
  --bg-secondary: #c83e4d;
  --bg-third: #fffaf3;
  --text-primary: #32373b;
  --text-secondary: #fffaf3;
  --text-secondary: #4a58598c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #c83e4d;
    --bg-secondary: #4a5859;
    --bg-third: #fffaf3;
    --text-primary: #f4b860;
    --text-secondary: #32373b;
    --text-secondary: #32373b8c;
  }
}
